.folder-selector {
  &__group {
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  &__input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

    &:hover {
      border-left: 1px solid #d9d9d9;
      margin-left: -1px;
    }
  }

  &__clear-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;

    &:hover {
      border-left: 1px solid #d9d9d9;
      margin-left: -1px;
    }
  }

  // 确保按钮组在紧凑模式下正确显示
  .ant-input-group-compact {
    display: flex;

    .ant-input {
      border-radius: 6px 0 0 6px;
    }

    .ant-btn:not(:last-child) {
      border-radius: 0;
    }

    .ant-btn:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
}